@use '../../_variables/variables' as *;
@use "../../_variables/mixins" as *;
@use 'sass:map';

.terms-and-conditions-container {
    position: relative;
    padding: 2rem;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
    padding-right: 80px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: $main-font;
    font-size: clamp(.9rem, .6rem + 1.3vw, 1.2rem);
    margin-bottom: 16px;

    a,
    small {
        color: #A55A55;
        text-decoration: none;
        text-align: center;

        &:hover {
            text-decoration: underline solid 2px #A55A55;
        }
    }
}

.content {
    margin-top: 110px;

    article {
        margin-bottom: 26px;
    }
}

.main-section-title {
    text-align: center;
    text-decoration: underline 2px solid #CF4037;
    font-family: $main-font;
    font-size: clamp(1.2rem, 1rem + 2vw, 2.3rem);
    color: #CF4037;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 0rem;
    color: var(--text-color);

    li {
        display: flex;
        align-items: center;
        white-space: nowrap;

        h3 {
            margin-bottom: 0rem;
            font-size: clamp(.8rem, .1rem + 1.5vw, 1rem);
            font-family: $main-font;
            font-weight: 600;
        }

        p {
            margin-bottom: 0rem;
            padding-left: .4rem;
            font-size: clamp(.8rem, .1rem + 1.5vw, 1rem);
            font-family: $secondary-font;
        }
    }
}

.section {
    h2 {
        color: #CF4037;
        font-family: $main-font;
        font-weight: 600;
        font-size: clamp(1rem, .6rem + 2vw, 1.8rem);
    }

    p {
        font-family: $secondary-font;
        color: var(--text-color);
        font-size: clamp(.8rem, .1rem + 1.5vw, 1rem);
        text-align: justify;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 0px;
    }

    .list {
        align-items: center;
        gap: 8px;

        li {
            display: flex;
            flex-direction: column;
            gap: 3px;

            h3 {
                text-decoration: 1px solid underline var(--text-color);
            }

            p {
                text-align: center;
                white-space: wrap;
            }
        }
    }
}