@use "../_variables/variables" as *;

.button-exit-simulation {
    display: flex;
    gap: .8rem;
}

.container-exit-icon h2 {
    margin-bottom: 0rem;
    font-size: 1.6rem;
    font-family: $main-font;
    color: #A55A55;
}

.container-exit-icon i {
    font-size: 1.6rem;
    color: #FA3B2D;
}

.button-exit-simulation {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    border: none;
}

/* Exit Test */

.main-container-confirm-exit {
    position: relative;
    width: 50%;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .button-exit-simulation {
        gap: .2rem;
    }

    .container-exit-icon {
        h2 {
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .container-exit-icon {
        i {
            font-size: 1.6rem;
        }
    }
}