.logo-container {
    position: relative;

    .logo {
        top: 0;
        left: 0;
        padding: 15px;
        margin-left: 1.3rem;
        margin-top: 1.3rem;
        width: 125px;
        cursor: pointer;
    }
}