@use "../_variables/mixins" as *;
@use "../_variables/variables" as *;
@use 'sass:map';

/* Main Section */

.profile-info-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 10;
}

.profie-image-container {
    position: relative;
    width: 50px;
    height: 55px;

    .profile-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.profile-info-section {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 6px;
        margin-bottom: 0px;
    }
}

.skeleton-profile-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .1rem;
    padding-left: .6rem;

    .profile-info {
        height: 20px;
        width: 100px;
    }
}

.username {
    font-family: $main-font;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-primary);
}

.e-mail {
    font-family: $secondary-font;
    color: #A55A55;
}

.menu-button {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;

    i {
        font-size: 2rem;
        color: var(--text-primary);
        padding-left: .7rem;
        cursor: pointer;
    }
}

/* Menu Bar */
.menu-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: 10px;
}

.menu-bar ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: #A55A55;
    border-radius: 1rem;
    padding: 1rem 1rem;
    list-style-type: none;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;
    @include font-style-list-menu-bar(1rem);

    &:hover {
        text-decoration: .6px underline solid #fff;
    }
}

.button-menu {
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: transparent;
    border: none;

    i {
        color: #fff;
    }

    small {
        @include font-style-list-menu-bar(1rem);
    }
}

.button-menu:hover {
    text-decoration: underline 0.1rem #fff solid;
}

.log-in-register-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media screen and (max-width: 768px) {
    .main-container {
        padding: 0px;
    }

    .profile-info-section {
        display: none;
    }

    /* Profile Section */

    .main-container img {
        max-width: 50px;
        max-height: 50px;
    }

    .menu-link i {
        font-size: 1.8rem;
    }

    /* Menu Desplegable */

    .menu-bar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .3rem;
    }

    .log-in-register-container {
        gap: .3rem;
    }

    .menu-bar ul li i {
        font-size: 1.7rem;
    }

    .button-menu {
        padding: 0rem;
    }

    .button-menu i {
        padding: 0rem;
    }

    .menu-link small {
        display: none;
    }

    .button-menu small {
        display: none;
    }

}