/* Main Section */

.main-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
}

.main-container img {
    max-width: 50px;
    max-height: 60px;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile-info-container {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.profile-info-section {
    display: flex;
    align-items: center;
}

.profile-info-section ul {
    list-style-type: none;
    padding-left: 6px;
    margin-bottom: 0px;
}

.username {
    font-size: 1.1rem;
    font-weight: 600;
}

.e-mail {
    color: #A55A55;
}

.menu-button {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.div i {
    font-size: 2rem;
    padding-left: .7rem;
    cursor: pointer;
}

/* Menu Bar */
.menu-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: 10px;
}

.menu-bar ul {
    background-color: #A55A55;
    border-radius: 1rem;
    padding: 0.6rem 0.5rem;
    list-style-type: none;
}

.button-menu {
    display: flex;
    gap: .7rem;
    align-items: center;
    background-color: transparent;
    border: none;
}

.button-menu:hover {
    text-decoration: underline 0.1rem #000 solid;
}

@media screen and (max-width: 768px) {
    .main-container {
        padding: 0px;
    }

    .profile-info-section {
        display: none;
    }

    /* Profile Section */

    .main-container img {
        max-width: 40px;
        max-height: 50px;
    }

    .div i {
        font-size: 1.8rem;
        padding-left: .3rem;
    }

    /* Menu Desplegable */

    .menu-bar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-bar ul li i {
        font-size: 2.3rem;
    }

    .button-menu {
        padding: 0rem;
    }

    .button-menu i {
        padding: 0rem;
    }

    .button-menu small {
        display: none;
    }

}