.main-container {
    width: 100vw;
    height: 100vh;
    padding: 2rem 4rem;
    overflow-x: hidden;
    position: relative;
}

.footer-content h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 4rem;
    padding-right: 4rem;
}

.footer-content h2 {
    margin-bottom: 0rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #FA3B2D;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .main-container {
        padding: 2.3rem 1rem;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .footer-content h2 {
        font-size: 2.5rem;
        position: relative;
        padding-bottom: 0rem;
        padding-right: 0rem;
    }

    .footer-content div {
        position: relative;
        padding-bottom: 0rem;
        padding-left: 0rem;
    }

}