@use '../../_variables/_variables.scss' as *;

.contenedor-opcion {
    display: flex;
    align-items: center;
}

.contenedor-opcion i {
    color: #FA3B2D;
    font-size: 3rem;
    margin-right: 1.3rem;
}

.contenedor-texto h3 {
    font-family: $main-font;
    font-weight: 500;
    margin-bottom: 0.2rem;
    color: var(--accent-color);
    width: 75%;
}

.contenedor-texto p {
    font-family: $secondary-font;
    color: var(--text-color);
    width: 90%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    /* Contenedor */
    .contenedor-opcion {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .link {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .contenedor-texto h3 {
        width: 100%;
    }

    .contenedor-texto p {
        width: 100%;
    }

    .contenedor-opcion i {
        margin-right: 0rem;
    }
}

@media screen and (max-width: 576px) {

    /* Contenedor */
    .contenedor-opcion {
        padding-left: 0rem;
    }

    /* Icono */

    .contenedor-opcion i {
        font-size: 2.5rem;
    }

    /* Titulo */
    .contenedor-texto h3 {
        font-size: 1.3rem;
    }

    /* Descripcion */
    .contenedor-texto p {
        font-size: .8rem;
        max-width: 100%;
    }
}