@use '../../_variables/_variables.scss' as *;

.main-container {
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 4rem;
    overflow-x: hidden;
    position: relative;
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
}

.homepage-title {
    width: 80%;
    font-size: clamp(1rem, .8rem + 1.5vw, 2rem);
    color: var(--accent-color);
    font-family: $main-font;
    font-weight: 600;
}

.parrafo {
    color: var(--text-color);
    font-size: clamp(.8rem, .4rem + 1.2vw, 1.2rem);
    font-family: $secondary-font;
}

.footer-content {
    position: relative;
    height: 150px;
    width: 100%;
}

.footer-content h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0rem;

    /* Font Style */
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: $main-font;
    font-weight: 800;
    color: var(--accent-color);
}

/* Footer Links */

.footer-info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.footer-link {
    color: #FA3B2D;
    text-decoration: none;
    font-size: 1rem;
    font-family: $secondary-font;

    &:hover {
        text-decoration: underline solid #FA3B2D 2px;
    }
}

.questions-disclaimer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FA3B2D;
    font-family: $secondary-font;
    gap: .4rem;

    h3 {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 1200px) {
    .footer-info {
        flex-direction: column-reverse;
        gap: .2rem;
    }
}

@media screen and (max-width: 768px) {
    .header-content {
        margin-bottom: 42px;
    }

    .parrafo {
        text-align: center;
    }

    .terms-and-conditions-container {
        padding-bottom: 0rem;
    }

    .homepage-title {
        width: 100%;
        text-align: center;
    }

    .main-container {
        padding: 1.7rem 3rem;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .footer-content h2 {
        font-size: 2.5rem;
        position: relative;
        padding-bottom: 0rem;
        padding-right: 0rem;
    }

    .footer-content div {
        position: relative;
        padding-bottom: 0rem;
        padding-left: 0rem;
    }
}

@media screen and (max-width: 576px) {
    .footer-content h2 {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .homepage-title {
        margin-bottom: .7rem;
    }
}