.contenedor-opcion {
    display: flex;
    align-items: center;
}

.contenedor-opcion i {
    color: #FA3B2D;
    font-size: 3rem;
    margin-right: 1.3rem;
}

.contenedor-texto h3 {
    color: #CF4037;
    max-width: 75%;
}

.contenedor-texto p {
    color: #322B2A;
    max-width: 90%;
}

.contenedor-texto a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    /* Contenedor */
    .contenedor-opcion {
        padding-left: 2rem;
    }
}

@media screen and (max-width: 576px) {

    /* Contenedor */
    .contenedor-opcion {
        padding-left: 0rem;
    }

    /* Icono */

    .contenedor-opcion i {
        font-size: 2.5rem;
    }

    /* Titulo */
    .contenedor-texto h3 {
        font-size: 1.3rem;
    }

    /* Descripcion */
    .contenedor-texto p {
        font-size: .8rem;
        max-width: 100%;
    }
}