.main-container-leave-test {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.message-container h2 {
    color: #FA3B2D;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

.parragraph-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1.5rem;
}

.parragraph-container p {
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.button-container button {
    border-radius: 1.4rem;
    width: 200px;
    height: 50px;
}

.cancel-button {
    background-color: #fff;
    border: #CF4037 .2rem solid;
    color: #FA3B2D;
    font-weight: 600;
}

.cancel-button:hover {
    text-decoration: underline .1rem #FA3B2D solid;
}

.leave-button {
    background-color: #CF4037;
    border: none;
    font-weight: 600;
    color: #fff;
}

.leave-button:hover {
    text-decoration: underline .1rem #fff solid;
}

.button-container button:hover {
    animation-name: animacion-seleccion-boton;
    animation-fill-mode: forwards;
}

@keyframes animacion-seleccion-boton {
    from {
        font-weight: 600;
    }

    to {
        font-weight: 800;
    }
}

@media screen and (max-width: 768px) {
    .button-container {
        flex-direction: column;

    }

    .button-container button {
        width: 100%;
        height: 50px;
    }
}