@use '../../_variables/_variables.scss' as *;

.main-container {
    display: flex;
    gap: 2rem;
}

.block-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 260px;
    height: 100px;
    background-color: #A55A55;
    border-radius: 1rem;
    padding: 1rem;
}

.icon-container i {
    font-size: 3.7rem;
    cursor: default;
    color: #fff;
}

.info-container {
    display: flex;
    flex-direction: column;
    color: #322B2A;
    line-height: 1.5rem;
}

.result {
    font-family: $secondary-font;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0rem;
}

.type-of-stat {
    font-size: 1.1rem;
    font-family: $main-font;
    font-weight: 500;
    margin-bottom: 0rem;
    white-space: nowrap;
}

.card-loading-item {
    width: 260px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .main-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.7rem;
    }

    .block-container {
        width: 250px;
        height: 120px;
    }
}