.home-icon-container {
    background-color: transparent;
    border: none;
    padding: 0rem;
    position: absolute;
    left: 0px;
    top: 0x;
}

.home-icon-container i {
    font-size: 2.3rem;
    padding-left: 0rem;
    color: #FA3B2D;
}