.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 180px;
    height: 240px;
    border-radius: 1rem;
    background-color: #A55A55;
}

.profile-img {
    background-color: #fff;
    border-radius: 1rem;
    width: 92%;
    height: 92%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-new-img {
    position: absolute;
    padding-right: .3rem;
    padding-left: .3rem;
    right: 0px;
    top: 0px;
    z-index: 2;
}

.add-new-img i {
    font-size: 2.3rem;
}

.content {
    display: flex;
    align-items: center;
}

.account-info {
    margin-left: 1.2rem;
}

.account-info h3 {
    font-size: 1.4rem;
    color: #FA3B2D;
    margin-bottom: 0rem;
}

.add-new-img i {
    padding-left: 0rem;
}

@media screen and (max-width: 768px) {
    .photo-container {
        width: 140px;
        height: 200px;
    }

    .account-info h3 {
        font-size: 1.1rem;
    }

    .account-info {
        font-size: 0.8rem;
    }

    .add-new-img i {
        font-size: 2rem;
    }
}