.profile-loader-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 180px;
    height: 240px;
    border-radius: 1rem;
    background-color: #fff;
    border: #A55A55 solid 10px;
}

.profile-image-loader {
    width: 180px;
    height: 240px;
}

.profile-img {
    border-radius: 1rem;
    width: 92%;
    height: 92%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    align-items: center;
}

.account-info {
    margin-left: 1.2rem;
}

.account-info h3 {
    font-size: 1.4rem;
    color: #FA3B2D;
    margin-bottom: 0rem;
}

.profile-info-loader {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.3rem;
}

.profile-name {
    width: 180px;
    height: 30px;
}

.profile-desc {
    width: 280px;
    height: 30px;
}

.add-new-img i {
    padding-left: 0rem;
    font-size: 2.3rem;
}

.button-add-img {
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    z-index: 3;
}

.loading-spinner {
    color: white;
    font-size: 2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.error-message {
    color: #FA3B2D;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .photo-container {
        width: 140px;
        height: 200px;
    }

    .account-info h3 {
        font-size: 1.1rem;
    }

    .account-info {
        font-size: 0.8rem;
    }

    .add-new-img i {
        font-size: 2rem;
    }
}