.settings-button {
    background-color: transparent;
    border: none;
    padding: 0rem;
    position: absolute;
    right: 0px;
    top: 0px;
}

.settings-button i {
    font-size: 2.1rem;
    padding-left: 0rem;
    color: #FA3B2D;
}