@use '../_variables/variables' as *;
@use 'sass:map';

@mixin font-style-list-menu-bar ($font-size) {
    color: #fff;
    text-decoration: none;
    font-size: $font-size;
}

@mixin flex-center-x-y-axis {
    display: flex;
    justify-content: center;
    align-items: center;
}