/* Contenedores */

.container-recover-password {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container-recover-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Titulo */

.container-recover-password-content h2 {
    margin-bottom: 1.5rem;
}

/* Formulario */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
}

.input-container {
    position: relative;
    width: 80%;
}

.form-container input {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #322B2A;
    height: 40px;
    padding-left: .7rem;
}

.form-container .submit-button {
    width: 100%;
    margin-top: 0.6rem;
    border-radius: 1.2rem;
    border: none;
    background-color: #CF4037;
    color: #FFF;
    padding: .8rem 0rem;
    font-weight: 600;
}

.form-container button:disabled {
    background-color: #A55A55;
}

/* Mostrar contraseña */

.show-password {
    position: absolute;
    background-color: transparent;
    border: none;
    padding-left: 0rem;
    right: 3px;
    bottom: 17px;
}

.show-password i {
    font-size: 1.4rem;
}

/* Mensaje Validacion Formulario */

.container-recover-password-content p {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #FA3B2D;
    font-weight: 700;
}

/* Mensaje de Exito o Fallo */

.container-success-error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: grey;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.container-success-error-message p {
    opacity: 1;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
}

.loading-text-redirect {
    color: #FFF;
    font-size: 1.2rem;
}

.message-password-validation {
    position: absolute;
    bottom: -65px;
}