/* Contenedor Principal */

.authorization-pages-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-container {
    width: 55vw;
    height: 100%;
    padding-bottom: 1rem;
    position: relative;
}

/* Login */

/* Contenedor Principal Login */

.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Logo */

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

/* Titulo */

.login-header {
    text-align: center;
}

.login-header h2 {
    color: var(--accent-color);
    font-size: 3.5rem;
}

.login-header p {
    color: var(--text-primary);
}

/* Formulario */

/* Contenedor Formulario */

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Contenedor Inputs */

.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Estilo Inputs */

.container-input-login-register {
    width: 65%;
}

.inputs input {
    border-radius: .7rem;
    padding: 0.4rem;
}

.container-button-submit button {
    width: 100%;
}

/* Contenedor Input LogIn */

.container-input {
    position: relative;
    margin-bottom: 1rem;

    input {
        position: relative;
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
        padding-left: 0.4rem;

        &:placeholder {
            color: var(--text-muted);
        }

        &:focus {
            outline: none;
            box-shadow: none;
            background: none;
        }
    }
}

/* Errores */

.mensaje-error-login {
    color: var(--accent-color);
    font-weight: 700;
}

.errors {
    color: var(--accent-color);
    font-weight: 600;
}

.error-message-register-input {
    color: var(--accent-color);
    font-weight: 600;
}

/* Boton ¿Has olvidado tu contraseña? */

.formulario-login a {
    text-align: end;
    margin-bottom: 0.6rem;
    color: var(--accent-color);
    text-decoration: none;
}

.formulario-login a:hover {
    text-decoration: var(--accent-color) 0.1rem solid underline;
}

/* Boton Iniciar sesión y Crear Cuenta */

.button {
    position: relative;
    min-height: 3rem;
    max-height: 3rem;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--accent-color);
    border: none;
    color: var(--bg-color);
    transition: background-color 0.2s ease-in;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
}

.button:hover {
    background-color: var(--accent-hover);
}

.button:disabled {
    background-color: var(--secondary-accent);
}

/* Nota Final */

.formulario-login p {
    text-align: center;
    color: var(--text-primary);
}

/* Password Input Specific Styles */

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
}

.password-input-container {
    position: relative;
    margin-bottom: 0.3rem;
}

.show-password {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
}

.show-password i {
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .authorization-pages-container {
        padding: 1.2rem;
    }

    .content-container {
        width: 100vw;
    }
}

/* Register */

/* Contenedor Principal Register */

.register-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container-recover-password-content {
    position: relative;
}

/* Titulo */

.register-header {
    text-align: center;
}

.register-header h2 {
    color: var(--accent-color);
    font-size: 3.5rem;
}

.register-header p {
    color: var(--text-primary);
}

/* Formulario */

/* Contenedor Formulario */

.formulario-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Contenedor Inputs */

.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Nota Final */

.formulario-register p {
    text-align: center;
    color: var(--text-primary);
}

.formulario-register a {
    text-align: end;
    margin-bottom: 0.6rem;
    color: var(--accent-color);
    text-decoration: none;
}

.label-register {
    color: var(--accent-color);
    margin-bottom: 0.3rem;
}

/* Recover Password */

.container-forgotten-password {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 25px;
}

.button-forgotten-password {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--accent-color);
    padding: 0rem;
    white-space: nowrap;
}

.button-forgotten-password:hover {
    text-decoration: underline 0.2rem solid var(--accent-color);
}

.recover-password-container {
    position: absolute;
    background-color: var(--card-bg);
    border: 0.3rem solid var(--text-color);
    border-radius: 1rem;
    width: 70%;
    height: 50%;
    top: 250px;
}

.recover-password-content-container {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.icon-container {
    position: absolute;
    top: 20px;
    right: 25px;
}

.icon-container i {
    padding-left: 0rem;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        color: var(--accent-color);
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container h1 {
    margin-bottom: 2.5rem;
    color: var(--accent-color);
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-container form input {
    margin-bottom: 0.7rem;
    border-radius: .7rem;
    border-color: var(--text-color);
    padding: 0.4rem;
}

/* Mensaje Recuperar contraseña */

.message-recover-container {
    width: 100%;
    padding: 1.5rem;
}

.message-recover-container h2 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.container-parragraphs-recover-password-message p {
    font-size: 1rem;
}

.message-recover-password {
    font-size: 1.4rem;
    text-align: center;
}

.in-case-of-error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.in-case-of-error-message p {
    margin-bottom: 0rem;
    font-size: 1.1rem;
}

.in-case-of-error-message button {
    background-color: transparent;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--accent-color);
    border: none;
}

.in-case-of-error-message button:hover {
    text-decoration: .2rem var(--accent-color) underline solid;
}

@media screen and (max-width: 768px) {
    .container-forgotten-password {
        justify-content: center;
    }
}