@use '../../_variables/variables' as *;

.main-container-check-test {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: var(--bg-color);
    color: var(--text-color);
    opacity: 1;
}

.check-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-text-info {
    text-align: center;

    h2 {
        font-size: 1.6rem;
        font-family: $main-font;
        margin-bottom: 1.3rem;
    }

    p {
        font-family: $secondary-font;
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
    }
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
}

.container-buttons button {
    padding: 0.6rem 1.3rem;
    background-color: #CF4037;
    border-radius: 0.3rem;
    border: none;
    /* Font */
    font-weight: 700;
    font-family: $main-font;
    color: #fff;
}

.container-buttons button:hover {
    text-decoration: underline 0.1rem solid #fff;
}

.test-results-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #fff;
    opacity: 1;
}

.results-data-container {
    text-align: center;
}

.go-home-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background-color: #CF4037;
    color: #fff;
    padding: 0.4rem 1.3rem;
    border-radius: 0.7rem;
}

.go-home-button button:hover {
    text-decoration: underline #fff 0.2rem solid;
}

.go-home-button button i {
    font-size: 1.9rem;
}

.go-home-button button small {
    font-size: 1.1rem;
    font-weight: 600;
}