.progress-bar-container {
    width: 100%;
    height: 23px;
    background-color: #fff;
    border: #A55A55 .1rem solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar {
    height: 100%;
    background-color: #FA3B2D;
    width: 0%;
    transition: width 0.3s ease-in-out;
}