@use '../../_variables/variables' as *;

.test-results-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    h2 {
        font-size: 1.7rem;
        font-family: $main-font;
        margin-bottom: 1.2rem;
    }

    p {
        font-family: $secondary-font;
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
    }
}

.results-data-container {
    text-align: center;
}

.result-item {
    height: 25px;
    width: 200px;
    margin-bottom: 16px;
}

.go-home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background-color: #CF4037;
    color: #fff;
    padding: 0.4rem 1.3rem;
    border-radius: 0.7rem;
    font-family: $main-font;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline #fff 0.2rem solid;
    }
}