.main-container-test-simulation {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
}

.container-header-element {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    z-index: 2;
    width: 100%;
}

.header-styler-container {
    width: 100%;
    padding: 2rem;
}

/* Controller elements */

.container-control-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    div {
        position: relative;
    }
}

.questions-container {
    padding: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    width: 90%;
    top: 20%;
    left: 2%;
}

.control-simulation-buttons-container {
    position: fixed;
    bottom: 30px;
    right: 4%;
}

.button-last-module {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 0rem;
}

.button-last-module:disabled i {
    font-size: 2.5rem;
    color: #A55A55;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .container-control-elements div button h2 {
        padding-left: .5rem;
    }
}

@media screen and (max-width: 576px) {

    /* Question Container */
    .questions-container {
        padding: .2rem;
        top: 20%;
        left: 4%;
    }

    /* Exit button */
    .container-control-elements {
        margin-bottom: 1rem;
    }

    .container-control-elements div button h2 {
        display: none;
    }

    .container-header-element {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 20%;
        box-sizing: border-box;
        z-index: 2;
    }

    .button-last-module:disabled i {
        font-size: 2rem;
        color: #A55A55;
        cursor: default;
    }

    .button-last-module div i {
        font-size: 2rem;
    }

    /* Next Button */
    .control-simulation-buttons-container {
        right: 6%;
    }
}

@media screen and (max-width: 350px) {
    .control-simulation-buttons-container {
        right: 8%;
    }
}