$circle-dimesions: clamp(10px, 5px + 1.5vw, 20px);

.arrow i {
    padding-left: 0rem;
    color: #CF4037;
    font-size: 1rem;
}

.progress-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    gap: clamp(.5rem, .2rem + 1.3vw, 1rem);
    bottom: -45px;
    left: 50%;
    /* Mover el borde izquierdo al centro */
    transform: translateX(-50%);
    /* Desplazar hacia la izquierda la mitad de su propio ancho */
}

.progress-circle {
    width: $circle-dimesions;
    height: $circle-dimesions;
    border: .1rem var(--text-primary) solid;
    border-radius: 1rem;
    background-color: var(--bg-color);
}

.progress-circle .active {
    background-color: #FA3B2D;
}

.arrow-results {
    background-color: transparent;
    border: none;
    padding: 0rem;
}