@use "../../_variables/mixins" as *;
@use "../../_variables/variables" as *;

$question-options-icon-dimesions: clamp(25px, 10px + 1.5vw, 35px);

.main-container-results {
    padding: 2.3rem 2.3rem 0rem 2.3rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.main-page-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-container {
    width: 80%;
}

.title-container h1 {
    width: 100%;
    text-align: left;
    font-size: clamp(1.1rem, .6rem + 1.5vw, 1.8rem);
    font-family: $main-font;
    font-weight: 600;
    margin-bottom: 0rem;
}

.container-arrow-go-back {
    text-align: end;
    width: 20%;
}

.graphics-main-container {
    position: absolute;
    top: 125px;
    width: 100%;
}

@media screen and (max-width: 560px) {
    .main-container-results {
        padding: 1rem;
        height: 100vh;
    }

    .graphics-main-container {
        position: absolute;
        top: 140px;
    }
}

.simulation-results-container {
    width: 100%;
    padding-bottom: 3rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    z-index: 2;
}

.check-answers-container {
    position: relative;
}

.exit-test-icon {
    display: flex;
    background-color: transparent;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    padding: 0rem;
    border: none;

    i {
        color: #FA3B2D;
        padding-left: 0rem;
    }
}

.title-check-answers {
    text-align: center;
    color: #FA3B2D;
    font-family: $main-font;
    font-weight: 600;
    font-size: clamp(1rem, .6rem + 1.3vw, 1.6rem);
    margin-bottom: 0rem;
}

@media screen and (max-width: 768px) {
    .container-history-simulations {
        padding: 0rem 1.5rem;
    }
}

/* Questions */

.question-list {
    height: 100%;
    width: 100%;
    padding-left: 0rem;
}

.question-list li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    flex-direction: column;
    margin-bottom: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
}

.question {
    @include flex-center-x-y-axis;
    flex-direction: row;
    margin-bottom: .7rem;
    font-family: $main-font;
}

.question-number {
    font-weight: 600;
    font-size: clamp(1rem, .3rem + 1.5vw, 1.5rem);
}

.question-parragraph {
    font-size: clamp(.8rem, .2rem + 1.5vw, 1.2rem);
    margin-bottom: 0rem;
}

.question-list small {
    margin-right: .7rem;
    margin-bottom: 0rem;
}

.question-list i {
    padding-left: 0rem;
    cursor: default;
}

.question-option-right {
    @include flex-center-x-y-axis;
    gap: 0.6rem;
    margin-bottom: 1.4rem;

    i {
        @include flex-center-x-y-axis;
        height: $question-options-icon-dimesions;
        width: $question-options-icon-dimesions;
        border: 0.2rem #37AC20 solid;
        border-radius: 2rem;
        color: #37AC20;
        font-size: clamp(1rem, .5rem + 1.2vw, 1.7rem);
    }
}

.question-option-wrong {
    @include flex-center-x-y-axis;
    gap: 0.6rem;
    margin-bottom: 1.4rem;

    i {
        @include flex-center-x-y-axis;
        height: $question-options-icon-dimesions;
        width: $question-options-icon-dimesions;
        border: 0.2rem #FA3B2D solid;
        border-radius: 2rem;
        color: #FA3B2D;
        font-size: clamp(1rem, 1.5vw, 1.7rem);
    }
}

.question-option-not-selected {
    @include flex-center-x-y-axis;
    gap: 0.6rem;
    opacity: 0.5;
    margin-bottom: 1.4rem;

    .not-selected-option {
        @include flex-center-x-y-axis;
        width: $question-options-icon-dimesions;
        height: $question-options-icon-dimesions;
        border: 0.25rem #322B2A solid;
        border-radius: 3rem;
    }
}

.question-option-right-not-selected {
    @include flex-center-x-y-axis;
    gap: 0.6rem;
    margin-bottom: 1.4rem;
    opacity: .5;

    i {
        @include flex-center-x-y-axis;
        height: $question-options-icon-dimesions;
        width: $question-options-icon-dimesions;
        border: 0.2rem #37AC20 solid;
        border-radius: 2rem;
        color: #37AC20;
        font-size: clamp(1rem, 1.5vw, 1.7rem);
    }
}

.question-option p {
    font-family: $secondary-font;
    margin-bottom: 0rem;
}

.text-option {
    margin-bottom: 0rem;
}

.question-parragraph span {
    font-weight: 700;
}

/* Control Bar */

$control-item-dimesions: clamp(25px, 15px + 1.9vw, 40px);
$control-icon-dimensions: clamp(1rem, .6rem + 2vw, 2rem);

.questions-control-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

.control-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $control-item-dimesions;
    height: $control-item-dimesions;
    border-radius: 3rem;

    i {
        padding-left: 0rem;
        font-size: $control-icon-dimensions;
    }
}

.right-item {
    border: 0.15rem #37AC20 solid;

    i {
        color: #37AC20;
    }
}

.wrong-item {
    border: 0.15rem #FA3B2D solid;

    i {
        color: #FA3B2D;
    }
}

@media screen and (min-height: 1650px) {
    .title-container h1 {
        font-size: 4vh;
    }

    .graphics-main-container {
        position: absolute;
        top: 10vh;
    }
}

@media screen and (max-width: 768px) {
    .questions-control-bar {
        width: 80%;
        background-color: var(--card-bg);
        padding: 16px;
        border-radius: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 12px;
        top: 90%;
        right: 50%;
        transform: translateX(50%);
    }

    .graphics-main-container {
        position: absolute;
        top: 10vh;
    }
}

@media screen and (max-width: 576px) {
    .simulation-results-container {
        width: 100%;
        padding-bottom: 15vh;
    }

    .questions-control-bar {
        width: 70%;
        align-items: center;
        justify-content: center;
        top: 85%;
    }
}

@media screen and (max-width: 292px) {
    .questions-control-bar {
        top: 80%;
    }
}